flows/flows_mocktails.json
[
    {
        "id": "f1",
        "type": "tab",
        "label": "Mocktails",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3dc281754f4ff647",
        "type": "MySQLdatabase",
        "name": "MOCKTAILS DB",
        "user": "MYSQL_USER",
        "password": "MYSQL_PASSWORD",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "MOCKTAILS_DB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "http-in-mocktails",
        "type": "http in",
        "z": "f1",
        "name": "",
        "url": "/mocktails",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [["function-mocktails"]]
    },
    {
        "id": "function-mocktails",
        "type": "function",
        "z": "f1",
        "name": "Get Mocktails",
        "func": "msg.topic = 'SELECT * FROM mocktails';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [["mysql-mocktails"]]
    },
    {
        "id": "mysql-mocktails",
        "type": "mysql",
        "z": "f1",
        "mydb": "3dc281754f4ff647",
        "name": "Mocktails DB",
        "x": 550,
        "y": 100,
        "wires": [["template-mocktails"]]
    },
    {
        "id": "template-mocktails",
        "type": "template",
        "z": "f1",
        "name": "Mocktails Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "html",
        "template": "<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Mocktails</title>\n  <link rel=\"stylesheet\" href=\"/css/styles.css\">\n</head>\n<body>\n  <div id=\"header\"></div>\n  <main>\n    <h2>Liste des Mocktails</h2>\n    <div id=\"mocktails-list\">\n      {{#each payload}}\n      <div class=\"mocktail-box\">\n        <h2>{{name}}</h2>\n        <p>{{description}}</p>\n        <button onclick=\"prepareMocktail({{id}})\">Préparer</button>\n      </div>\n      {{/each}}\n    </div>\n  </main>\n  <div id=\"footer\"></div>\n  <script src=\"/js/scripts.js\"></script>\n  <script>\n    window.onload = () => {\n      loadSharedContent();\n    };\n  </script>\n</body>\n</html>",
        "x": 750,
        "y": 100,
        "wires": [["http-response-mocktails"]]
    },
    {
        "id": "http-response-mocktails",
        "type": "http response",
        "z": "f1",
        "name": "",
        "statusCode": "",
        "headers": [
            {
                "name": "Content-Type",
                "value": "text/html"
            }
        ],
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "http-in-order",
        "type": "http in",
        "z": "f1",
        "name": "",
        "url": "/orders",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 300,
        "wires": [["function-process-order"]]
    },
    {
        "id": "function-process-order",
        "type": "function",
        "z": "f1",
        "name": "Process Order",
        "func": "let order = msg.payload;\nmsg.topic = `INSERT INTO orders (mocktail_id, quantity, customer_name, customer_email, special_instructions) VALUES (${order.mocktail_id}, ${order.quantity}, '${order.customer_name}', '${order.customer_email}', '${order.special_instructions}')`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [["mysql-process-order"]]
    },
    {
        "id": "mysql-process-order",
        "type": "mysql",
        "z": "f1",
        "mydb": "3dc281754f4ff647",
        "name": "Process Order",
        "x": 550,
        "y": 300,
        "wires": [["http-response-order"]]
    },
    {
        "id": "http-response-order",
        "type": "http response",
        "z": "f1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 300,
        "wires": []
    }
]

